<template name="chat">
    <div class="container">
        <div class="sidebar">
            <div class="panel panel-info" style="height: 100%;text-align: left">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {{#each allUsers}}
                            {{> userRenderer}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="chatContainer">
            <div class="chatMsgContainer">
                <div class="panel panel-info msgPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: left">Messages</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group msgListGroup">
                            {{#each messages}}
                                {{> chatMessage}}
                            {{/each}}
                        </div>
                        <div class="clearfix"></div>
                        <div class="sendMsgContainer">
                            <div class="msgContainer pull-left">
                                <input type="text" class="form-control" id="textMessage"
                                       placeholder="Enter your message here"
                                       style="font-size: 18px">
                                <span class="material-input"></span>
                            </div>
                            <div class="btnContainer pull-left">
                                <button id="btnSend" class="btn btn-info">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="userRenderer">
    <div class="list-group-item" style="padding-left: 0;padding-right: 0;">
        <div class="row-content" style="min-height: 35px;width: 100%;margin-bottom: 13px">
            <h3 class="list-group-item-heading"
                style="text-align: left;font-size: 18px;line-height: 15px;color: #03a9f4">
                {{profile.firstName}} {{profile.lastname}}
            </h3>
            {{#if userStatusBool}}
                <i class="mdi-image-lens pull-left" style="color: green;"></i>
            {{else}}
                <i class="mdi-image-lens pull-left" style="color: red;"></i>
            {{/if}}
            <p class="list-group-item-text pull-left"
               style="text-align: left;font-size: 12px;line-height: 12px; margin-left: 5px">{{userStatus}}
            </p>
        </div>
    </div>
</template>

<template name="chatMessage">
    <div class="list-group-item">
        <div class="row-content" style="min-height: 55px;width: 100%">
            <div class="least-content" style="font-size: 12px">{{formatDate sentOn}}</div>
            <h4 class="list-group-item-heading"
                style="text-align: left;font-size: 15px;line-height: 15px;color: #03a9f4">{{user}}:</h4>

            <p class="list-group-item-text" style="text-align: left;font-size: 15px;line-height: 15px;">{{message}}</p>
        </div>
    </div>
</template>