<template name="chat">
    <div class="headerDiv">
        <span class="pull-left" style="font-size: 18px">Hi, {{currUserName}}</span>
        <a class="pull-right" style="font-size: 16px" href="sign-out">Logout</a>
    </div>
    <div class="sidebar">
        <div class="panel panel-info" style="height: 100%;text-align: left">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {{#each allUsers}}
                        {{> userRenderer}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="chatContainer">
        <div class="chatMsgContainer">
            <div class="panel panel-info msgPanel">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: left">Messages</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group msgListGroup">
                        {{#each messages}}
                            {{> chatMessage}}
                        {{/each}}
                    </div>
                    <div class="clearfix"></div>
                    <div class="sendMsgContainer">
                        <form id="chatMsgForm">
                            <div class="msgContainer pull-left">
                                <input type="text" class="form-control" id="textMessage"
                                       placeholder="Enter your message here"
                                       style="font-size: 18px">
                                <span class="material-input"></span>
                            </div>
                            <div class="btnContainer pull-left">
                                <button id="btnSend" type="submit" class="btn btn-info">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>