<template name="login">
    <div class="container">
        <div class="loginContainer">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input class="form-control empty" name="email" type="text">
                            <div class="floating-label">Email</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input type="password" class="form-control empty" name="password">
                            <div class="floating-label">Password</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <button class="btn btn-primary pull-right" type="submit">Login</button>
                        <a class="pull-left" href="signUp" style="margin-top: 13px">Sign up</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>