<template name="logoutDialog">
    <div id="logout-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Are you sure want to Logout ?</h4>
                </div>
                <div class="modal-footer">
                    <a href="sign-out">
                        <button class="btn btn-danger" id="btnLogout">Yes</button>
                    </a>
                    <button class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</template>