<template name="signUp">
    <div class="container">
        <div class="loginContainer">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Signup</legend>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input class="form-control empty" name="firstName" type="text">
                            <div class="floating-label">First Name</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input class="form-control empty" name="lastName" type="text">
                            <div class="floating-label">Last Name</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input class="form-control empty" name="email" type="email">
                            <div class="floating-label">Email</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input type="password" class="form-control empty" name="password">
                            <div class="floating-label">Password</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <div class="form-control-wrapper">
                            <input type="password" name="confirmPassword" class="form-control empty">
                            <div class="floating-label">Confirm Password</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0 0 0;">
                        <button class="btn btn-primary pull-right" type="submit">Sign Up</button>
                        <a class="pull-left" href="/" style="margin-top: 13px">Login</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>