<template name="userRenderer">
    <div class="list-group-item" style="padding-left: 0;padding-right: 0;">
        <div class="row-picture">
            <img class="circle" src="{{profilePicture}}" alt="icon">
        </div>
        <div class="row-content" style="padding-top: 10px">
            <h3 class="list-group-item-heading"
                style="text-align: left;font-size: 18px;line-height: 15px;color: #03a9f4;margin-bottom: 10px">
              {{profile.name}}
            </h3>
          {{#if userStatusBool}}
              <i class="mdi-image-lens pull-left" style="color: green;"></i>
          {{else}}
              <i class="mdi-image-lens pull-left" style="color: red;"></i>
          {{/if}}
            <p class="list-group-item-text pull-left"
               style="text-align: left;font-size: 12px;line-height: 12px; margin-left: 5px">{{userStatus}}
            </p>
        </div>
    </div>
</template>